@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: sans-serif;
}
:root{
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #7d12ff;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--bg-color);
    padding: 2rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
/* .header.sticky{
    border-bottom: .1rem solid rgba(0,0,0,.5);
} */
.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: pointer;
}
.navbar a{
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
}
.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
}
#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}
.historia{
    display: flex;
    justify-content: center;
    align-items: center;
}
.historia-content{
    margin-right: 5rem;
}
.historia-content h3{
    font-size: 2.8rem;
}
.historia-content span{
    color: var(--main-color);
}
.historia-content h1{
    font-size: 3.5rem;
}
.historia-content p{
    font-size: 1.6rem;
    margin: 2rem 0;
    line-height: 1.5;
}


.collection{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.collection .collection-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0 20px;   
}

.collection-container .heading{
    width: 50%;
    padding-bottom: 50px;
}
.collection-container .heading h2{
    font-size: 3rem;
    font-weight: bold;
    border-bottom: 3px solid var(--main-color);
    padding-bottom: 15px;
}
.collection-container .heading h2 span{
    font-weight: 1;
}
.collection-container .box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.collection-container .box .dream{
    display: flex;
    flex-direction: column;
    width: 32.5%;
}
.collection-container .box .dream img{
    width: 100%;
    padding: 15px;
    border-radius: 5%;
}
.collection-container .btn{
    margin: 40px 0 70px 0;
    background: #fff;
    padding: 15px 25px;
    border-radius: 10px;
    
}
.collection-container .btn:hover{
    box-shadow: 0 0 10px var(--main-color);
}
.collection-container .btn a{
    color: var(--main-color);
    font-size: 3rem;
    text-decoration: none;
    letter-spacing: 1rem;
    font-weight: bold;
}